{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="columns">
        <div class="column is-8 is-offset-2">

            {% if user.is_authenticated %}
            <h1 class="title">
                Welcome, {{ user.username }}
            </h1>
            {% else %}
                Login to see your details
            {% endif %}

            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Personal Stats
                    </p>
                    <button class="card-header-icon" aria-label="more options">
                        <span class="icon">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </header>
            </div>


            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Projects
                    </p>
                    <button class="card-header-icon" aria-label="more options">
                        <span class="icon">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </header>
            </div>

            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Upcoming Missions
                    </p>
                    <button class="card-header-icon" aria-label="more options">
                        <span class="icon">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </header>
            </div>
        </div>
    </div>
</section>
{% endblock content %}